[submodule "storax"]
	path = storax
	url = https://github.com/storax/dotfiles.git
[submodule "binchen"]
	path = binchen
	url = https://github.com/redguardtoo/emacs.d.git
[submodule "ap.el"]
	path = ap.el
	url = https://github.com/alphapapa/ap.el.git
[submodule "ndw"]
	path = ndw
	url = https://gitlab.com/ndw/dotfiles.git
[submodule "emacs-leuven"]
	path = emacs-leuven
	url = https://github.com/fniessen/emacs-leuven.git
[submodule "jeyj0"]
	path = jeyj0
	url = https://codeberg.org/jeyj0/dotfiles
[submodule "d12frosted"]
	path = d12frosted
	url = https://github.com/d12frosted/environment.git
[submodule "seblemaguer"]
	path = seblemaguer
	url = https://github.com/seblemaguer/dotfiles
[submodule "benmezger"]
	path = benmezger
	url = git@github.com:benmezger/dotfiles.git
[submodule "ekaschalk"]
	path = ekaschalk
	url = https://github.com/ekaschalk/.spacemacs.d.git
[submodule "bauer"]
	path = bauer
	url = https://github.com/matthewbauer/bauer.git
[submodule "tiqsi-emacs"]
	path = tiqsi-emacs
	url = https://github.com/SerialDev/tiqsi-emacs.git
[submodule "wasamasa/dotemacs"]
	path = wasamasa/dotemacs
	url = https://depp.brause.cc/dotemacs.git
[submodule "wasamasa/dotfiles"]
	path = wasamasa/dotfiles
	url = https://depp.brause.cc/dotfiles.git
[submodule "Quiescent-Emacs"]
	path = Quiescent-Emacs
	url = https://github.com/Quiescent/Quiescent-Emacs.git
[submodule "epsil"]
	path = epsil
	url = https://github.com/epsil/dotfiles.git
[submodule "abo-abo/oremacs"]
	path = abo-abo/oremacs
	url = https://github.com/abo-abo/oremacs.git
[submodule "abo-abo/org-fu"]
	path = abo-abo/org-fu
	url = https://github.com/abo-abo/org-fu.git
[submodule "emacs-live"]
	path = emacs-live
	url = https://github.com/overtone/emacs-live.git
[submodule "amar1729"]
	path = amar1729
	url = git@github.com:Amar1729/dotfiles.git
[submodule "szorfein"]
	path = szorfein
	url = https://github.com/szorfein/dots.git
[submodule "r0man"]
	path = r0man
	url = https://github.com/r0man/.emacs.d.git
[submodule "ninrod"]
	path = ninrod
	url = https://github.com/ninrod/dotfiles.git
[submodule "link0ff"]
	path = link0ff
	url = https://gitlab.com/link0ff/emacs-init.git
[submodule "meain"]
	path = meain
	url = https://github.com/meain/dotfiles.git
[submodule "zaeph"]
	path = zaeph
	url = https://github.com/zaeph/.emacs.d.git
[submodule "condy0919"]
	path = condy0919
	url = https://github.com/condy0919/.emacs.d.git
[submodule "codygman"]
	path = codygman
	url = https://git.sr.ht/~codygman/emacs-config
[submodule "hrs"]
	path = hrs
	url = https://github.com/hrs/dotfiles.git
[submodule "jdormit"]
	path = jdormit
	url = https://git.jeremydormitzer.com/jdormit/dotfiles.git
[submodule "daviwil/emacs-from-scratch"]
	path = daviwil/emacs-from-scratch
	url = https://github.com/daviwil/emacs-from-scratch.git
[submodule "daviwil/dotfiles"]
	path = daviwil/dotfiles
	url = https://github.com/daviwil/dotfiles.git
[submodule "magnusmalm"]
	path = magnusmalm
	url = https://github.com/magnusmalm/emacsen.git
[submodule "caisah"]
	path = caisah
	url = https://github.com/caisah/emacs.dz.git
[submodule "mrvdb"]
	path = mrvdb
	url = https://github.com/mrvdb/emacs-config.git
[submodule "a13"]
	path = a13
	url = https://github.com/a13/emacs.d.git
[submodule "alhassy"]
	path = alhassy
	url = https://github.com/alhassy/emacs.d.git
[submodule "arecker"]
	path = arecker
	url = https://github.com/arecker/emacs.d.git
[submodule "dustinlacewell"]
	path = dustinlacewell
	url = https://github.com/dustinlacewell/dotfiles.git
[submodule "bogdanp"]
	path = bogdanp
	url = https://github.com/Bogdanp/.emacs.d.git
[submodule "cadadr"]
	path = cadadr
	url = https://github.com/cadadr/configuration.git
[submodule "alexkehayias"]
	path = alexkehayias
	url = https://github.com/alexkehayias/emacs.d.git
[submodule "peel"]
	path = peel
	url = https://github.com/peel/dotfiles.git
[submodule "jonatack"]
	path = jonatack
	url = https://github.com/jonatack/dotfiles.git
[submodule "aaronbieber"]
	path = aaronbieber
	url = https://github.com/aaronbieber/dotfiles.git
[submodule "jwiegley"]
	path = jwiegley
	url = https://github.com/jwiegley/dot-emacs
[submodule "mattduck"]
	path = mattduck
	url = https://github.com/mattduck/dotfiles.git
[submodule "twpayne"]
	path = twpayne
	url = https://github.com/twpayne/dotfiles.git
[submodule "nosami"]
	path = nosami
	url = https://github.com/nosami/configs.git
[submodule "robphoenix"]
	path = robphoenix
	url = https://github.com/robphoenix/dotfiles.git
[submodule "lazycat-emacs"]
	path = lazycat-emacs
	url = https://github.com/manateelazycat/lazycat-emacs.git
[submodule "phundrak"]
	path = phundrak
	url = https://labs.phundrak.com/phundrak/dotfiles.git
[submodule "freetonik"]
	path = freetonik
	url = https://github.com/freetonik/emacs-dotfiles.git
